@model IEnumerable<Fitness__Project.Models.Membership>

@{
    ViewData["Title"] = "Index";
}
<style>
    table {
        border-collapse: collapse;
        font-family: Tahoma, Geneva, sans-serif;
    }

        table td {
            padding: 15px;
        }

        table thead tr {
            background-color: #494F56;
            color: #ffffff;
            font-weight: bold;
            font-size: 13px;
            border: 1px solid #494F56;
        }

        table tbody td {
            color: #605D5D;
            border: 1px solid #D7DADC;
        }

        table tbody tr {
            background-color: #F1F1F2
        }

            table tbody tr:nth-child(odd) {
                background-color: #ffffff;
            }
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.membershipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>




            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.membershipType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>






                <td>
                    <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MemberId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
