@model Fitness__Project.Models.CardInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CardInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cardNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cardNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zipCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Index">Back to List</a>
    }
</div>
